<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Computers GP</title>
    <!-- CSS files -->
    <link href="{{url_for('static', filename='dist/css/tabler.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='dist/css/tabler-flags.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='dist/css/tabler-payments.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='dist/css/tabler-vendors.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='dist/css/demo.min.css')}}" rel="stylesheet"/>

    <style>
        :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }
        body {
        font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
  </head>